body {
    background-color: rgb(192, 189, 189);
}

.conteneur {
    margin: 0 auto;
    max-width: 1150px;
    background-color: white;
}

header {
    display: flex;
    height: 60px;
}

.titre {
    color: rgb(255, 255, 255);
    background-color: #444444;
    font-size: 25px;
    text-align: center;
    width: 300px;
    font: Arial;
}

nav {
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 99;
    position: relative;
    background-color: #444444;
}

.menu {
    height: 60px;
    padding: 0;
    margin: 0;
    position: absolute;
}

.menu li {
    height: 60px;
    width: 135.8px;
    float: left;
    text-align: center;
    list-style: none;
    font: normal bold 13px/1em Arial, Verdana, Helvetica;
    padding: 0;
    margin: 0;
    background-color: #444444;
}

.menu a {
    padding: 18px 0;
    border-left: 1px solid #ccc9c9;
    text-decoration: none;
    color: white;
    display: block;
}

.menu a.selection {
    color: yellow;
}

.menu li:hover,
a:hover {
    color: rgb(137, 138, 138);
    background-color: #444444;
}

.menu li ul {
    display: none;
    height: auto;
    margin: 0;
    padding: 0;
}

.menu li:hover ul {
    display: block;
}

.menu li ul li {
    background-color: #444444;
}

.menu li ul li a {
    border-left: 1px solid #444444;
    border-right: 1px solid #444444;
    border-top: 1px solid #c9d4d8;
    border-bottom: 1px solid #444444;
}

section {
    margin-left: 5px;
}

.pagebas {
    display: flex;
}

footer {
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    background-color: #444444;
    color: white;
}

#image {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

#avion {
    display: flex;
    flex-wrap: wrap;
}

.nomAvion {
    text-align: center;
}

.socialmedia {
    margin-right: 5px;
    margin-left: 5px;
    height: 64px;
}

h1 {
    font-size: large;
    text-align: center;
}

h2 {
    font-size: medium;
}

article {
    margin-left: 5px;
}

table {
    border-collapse: collapse;
    margin: 5px;
}

td,
th {
    border: 1px solid black;
    margin-left: 5px;
}

a {
    color: rgb(68, 0, 255);
}


/* a:hover {
    color: rgb(137, 138, 138);
} */